        *{margin: 0; padding: 0; box-sizing: border-box;}
        #heading{text-align: center;}
        #container{
            height: 600px;
            width: 600px;
            padding: 10px;
            border: 2px solid black;
            margin: 5px;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            
        }
        .box{
            height: 100px;
            width: 100px;
            margin: 5px;
            border: 2px solid black;
        }
        #box1{background-color: aqua;}
        #box2{background-color: fuchsia;
        align-self: flex-start;}
        #box3{background-color: yellow;}
        #box4{background-color: yellowgreen;
        align-self: flex-end;}