*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.parent1{
        width: 700px;
        height: 700px;
        border: 10px solid black;
        margin: 50px;
}
.parent2{
        width: 500px;
        height: 500px;
        border: 10px solid brown;
        margin: 100px;
}
.child{
        width: 100px;
        height: 100px;
}
/* relative - element will be always positioned according to its original place */
.one{
        background-color: yellow;
        position: relative;
        left: 200px;
        top: 50px;
}
.two{
        background-color: greenyellow;
}
.three{
        background-color: fuchsia;
        position: relative;
        right: 50px;
}